{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "plugins": ["jest"],
  "rules": {
    "semi": [2, "never"],
    "no-console": "off",
    "max-len": [
      2,
      {
        "code": 200
      }
    ],
    "linebreak-style": ["off"],
    "import/prefer-default-export": "off",
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx"]
      }
    ]
  },
  "env": {
    "browser": true,
    "jest/globals": true
  }
}
